*{
	font-family: 'Noto Serif', serif;
}

.container-header{
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	opacity: 0.8;
}

.card-header{
	font-family: 'Changa', sans-serif;
	min-height: 70px;
}

.moredetails{
	min-height: 70px;
}

.card-subtitle{
	min-height: 50px;
}

.details{
	min-height: 140px;
}

hr{
	background-color: rgb(11, 199, 199);
	height: 1px;
}

.show-form{
	text-align: center;
	margin-top: 120px;
}

.card-header{
	font-weight: bold;
	text-align: center;
} 

.close-btn{
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	width: 100px;
	height: 50px;
	background:black;
	color: white;
	border-radius: 50px;
	text-transform: uppercase; 
	font-weight: bold;
	outline: none;
}

.input{
	width: 350px;
	border: 3px solid #000;
	background: transparent;
	padding: 10px 15px;
	border-radius: 30px;
	color: #000;
	font-size: 20px;
	outline: none;
}

.wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
}

.repositories{
	margin-bottom: 30px;
	margin-right: 20px;
	padding: 0;
	width: 300px;
	height: 450px;
}

::placeholder{
	color: rgb(48, 5, 5);
	font-size: 20px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

.demo{
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: center;
}

button:active{
	transform: scale(0.95);
}

input:focus, button:focus{
	outline: none;
}

.badge{
	padding: 10px;
	margin-bottom: 10px;
}

.page-footer{
	background-color:rgb(33, 37, 41);
	font-weight: bold;
	text-align: center;
	height: 20vh;
	color: white;
	padding-top: 50px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;

}